@myColor1: blue;                            // named color value
@myColor2: #0000FF;                         // hex color value
@myStringVar: " with an appended string";   // string variable 
@myFontSize: 24px;                          // numeric value
@thinBorder: 4px solid @myColor1;           // multi-value variable
@paddingVar: 15px 15px 15px 35px;           // multi-value variable

h1, h2 {
    color: @myColor1;
}

#mypara {
    font-size: @myFontSize;
    border: @thinBorder;
    padding: @paddingVar;
}

#mypara:after {
    content: @myStringVar;
}

// LESS Mixins
.commonTraits {
    border-radius: 10px;
    border: 1px solid green;
    padding: 10px;
}

header {
    color: #274D87;
    .commonTraits;
}

footer {
    color: #3264AF;
    .commonTraits;
}

// LESS Nested rules
body {
    font-family: Helvetica, Arial, sans-serif;
    
    p {
        font-family:Times;
    }
    p#mypara {
        font-family: "Courier New";
    }
}

#mypara {
    color: #404040;
    border: 1px solid #404040;
    padding: 10px;
    
    // refer to the parent of the rule currently being defined
    &:hover {
        color: red;
    }
}
